<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProU</title>
    <!--Material icon-->    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" href="../static/assets/css/todo.css">
</head>
<body>
    <!-- <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img>
                    <h2>
                        <a href="/templates/index.htmlindex.html">Pro<span class="u">U</span></a>
                    </h2>
                </div>
                <div class="close" id="clsoe-btn">
                    <span class="material-icons-sharp">close
                    </span>
                </div>
                <div class="sidebar">
                    <a href="/templates/index.htmlindex.html" id="home-link" >
                        <span class="material-icons-sharp">
                            home
                        </span>
                        <h3>Home</h3>
                    </a>
                    <a href="#" id="todo-link" class ="active">
                        <span class="material-icons-sharp">
                            checklist
                        </span>
                        <h3>To-Do</h3>
                    </a>
                    <a href="/templates/focus.htmlfocus.html" id="focus-link">
                        <span class="material-icons-sharp">
                            timer
                        </span>
                        <h3>Focus</h3>
                    </a>
                    <a href="#" id="motivation-link">
                        <span class="material-icons-sharp">
                            video_library
                        </span>
                        <h3>Motivation</h3>
                    </a>
                    <a href="#" id="logout-link">
                        <span class="material-icons-sharp">
                            logout
                        </span>
                        <h3>Logout</h3>
                    </a>
                </div>
             </div>
        </aside>
    </div> -->
    <main>
        <div class="todo-container">
            <div class="todo-app">
                <h2>To-Do List</h2>
                <div class="row">
                    <form action="/addTask" mehtod="POST"></form>
                    <input type="text" id="title" placeholder="Add task title">
                    <input type="text" id="description" placeholder="Describe your task">
                    <select name="priority" id="priority">
                        <option value="high">high</option>
                        <option value="medium">medium</option>
                        <option value="low">low</option>
                    </select>
                    <input type="hidden" id="status" name="status"  value="open">
                    <button> Add Task </button>
                </div>
            </div>
        </div>
    </main>
    <!--js file-->
    <script src ="../static/assets/js/index.js"></script>
</body>
</html>